.side_bar_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 16px;

  flex-direction: column !important;

  align-items: center !important;
  border: 2px solid rebeccapurple;
  /* background-color: darkviolet !important; */
  width: 336px !important;
  height: 100vh !important;

  box-shadow: 0px 1px 5px rgba(3, 0, 55, 0.08);
}

.side_bar_container button input {
  

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;
width: 304px;
height: 40px;
background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 24px;
 
}

.side_bar_container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 12px;
  width: 100%;
  background: #153ac7;
  color: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(3, 0, 55, 0.08);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
